a{
    text-decoration: none;
    color: red;
}

a:hover, a:active{
    color: lightgray;
}

.nav-caption{
    display: inline-block;
    padding-left: 6px;
}

.pay-nav{
    -ms-overflow-style: none;
  
}