<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <form #form='ngForm' class="mb-4" autocomplete="off" (submit)="onSubmit(form)">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" #UserName="ngModel" name="UserName" [(ngModel)]="formModel.UserName" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" type="Password" #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" required>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" type="submit" class="btn-block">Log in</button>
    </form>
  </mat-card>

</div>